# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "saturday"
      time: "09:00"
      timezone: "Asia/Tokyo"
    reviewers:
      - "RyuNen344"
    commit-message:
      prefix: "github-actions: "

  - package-ecosystem: "yarn"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "saturday"
      time: "09:00"
      timezone: "Asia/Tokyo"
    reviewers:
      - "RyuNen344"
    commit-message:
      prefix: "yarn: "
