*.iml
.gradle
/local.properties
.idea/.name
.idea/shelf
.idea/caches
.idea/libraries
.idea/compiler.xml
.idea/git_toolbox_prj.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
